<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta
        name="keywords"
        content="AI infrastructure, GPU rental India, NVIDIA H100 rental, AI software development,AI-Based Software development, IT Services, Document Digitization, Rental Services, Server Procurement, Data Center Setup"
    />
    <link rel="canonical" href="https://aiindiainnovation.com/<%= path %>" />

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta
        property="og:image"
        content="https://images.unsplash.com/photo-1695668548342-c0c1ad479aee?q=80&w=870"
    />
    <meta
        property="og:url"
        content="https://aiindiainnovation.com/<%= path %>"
    />
    <meta property="og:type" content="website" />

    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
